.popup{

  &.nope{
    display: none;
  }

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: orange;

  &__slider{
    width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__exit{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    width: 100px;
    border: 1px solid black;
    text-align: center;
  }
}