<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="./files/libs/grid/grid.min.css">
<link rel="stylesheet" href="./files/libs/OwlCarousel/assets/owl.carousel.min.css">
<!--<link rel="stylesheet" href="./files/libs/OwlCarousel/assets/owl.theme.default.min.css">-->


<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<link href="https://fonts.googleapis.com/css?family=Istok+Web:700&display=swap&subset=cyrillic" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./files/libs/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="./files/libs/slick/slick-theme.css"/>
<link rel="stylesheet" href="./style.css">
