<script defer src="./files/libs/jquery/jquery-3.3.1.min.js"></script>
<script defer src="./files/libs/jquery/jquery.maskedinput.min.js"></script>
<script defer src="./files/libs/lazyload/lazyload.js"></script>
<script defer src="./files/libs/OwlCarousel/owl.carousel.min.js"></script>
<script defer src="./files/libs/slick/slick.min.js"></script>
<script defer src="./main.js"></script>
