
.my-slider{
  padding-top: 100px;

  h1{
    margin-bottom: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }

  &__wrap{

    .slider{

      &_main{

        &-item{
          padding-top: 50px;
          padding-bottom: 50px;
          border: 1px solid black;
          margin: 10px;
        }
      }

      &_nav{

        &-item{
          padding-top: 50px;
          padding-bottom: 50px;
          border: 1px solid black;
          font-size: 32px;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }

  .popup{
    display: none;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: orange;

    &__slider{
      width: 800px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &__exit{
      position: absolute;
      left: 50%;
      top: 50px;
      transform: translateX(-50%);
      width: 100px;
      border: 1px solid black;
      text-align: center;
    }
  }

  button:before{
    background-color: red!important;
  }
}

